<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="true"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=fr.dawan"/>
        <listEntry value="artifactId=jpa"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=fr.dawan.jpa"/>
        <listEntry value="outputDirectory=/Users/lep/formation"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/jh/kj496zhx2j93c3_4dgbrc_v00000gn/T/m2e-archetypeGenerator8584526219198469842"/>
</launchConfiguration>
